<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;">PCR tests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid >
    <ion-row>
      <ion-col expand="true" style="background-color: #fcd1d1; margin-top: 30px;">
        <ion-card-header color="primary" style=" color: black; ">Signed for PCR test</ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row class="first">
      <ion-col>
        JMBG
      </ion-col>
      <ion-col>
        Contact
      </ion-col>
      <ion-col>
        City
      </ion-col>
      <ion-col>
        Result
      </ion-col>
    </ion-row>
    <app-pcr-element *ngFor="let pcr of pcrs" [pcr]="pcr"></app-pcr-element>
    <ion-row>
      <ion-col style="border: none; margin-top: 15px;">
        <ion-button color="tertiary" strong="true" shape="round" (click)="presentAlert()">
          Update results
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
