ion-card{
  margin-top: 40px;
}

ion-card-header{
  font-size: 23px;
  text-align: center;
  font-weight: bold;
}

ion-card-content{
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.first-row{
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  ;
}

.second-row{
  font-size: 25px;
  color: white;
}

.second-row div{
  background-color: #aee1e1;
  border-radius: 6%;
  border: solid 1px black;
  color: black;
}

.second-row div{
  padding:0;
}

p{
  font-size: 20px;
  text-align: justify;
  padding: 20px 40px;
}

