<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">
      Scan QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-center" style="padding-top: 20px;">
    <ion-col></ion-col>
    <ion-col>
      <ion-button size="large" color="success" (click)="scanCode()" style="width: 290px;"><ion-icon name="scan-outline" style="margin-right: 15px;"></ion-icon> Scan QR code</ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <ion-card *ngIf="scannedCode">
    <ion-card-content style="font-size: 15px;">
      {{scannedCode}}
    </ion-card-content>
  </ion-card>

</ion-content>
