<form >
<ion-row>
      <ion-col>
        <p>{{pcr.jmbg}}</p>
      </ion-col>
      <ion-col>
        <p>{{pcr.phone}}</p>
      </ion-col>
      <ion-col>
        <p>{{pcr.city}}</p>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-select #C (ionChange)="changeData(C.value)" placeholder="{{pcr.result}}">
            <ion-select-option value="positive">Positive</ion-select-option>
            <ion-select-option value="negative">Negative</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
</form>
