ion-card-header{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

ion-card-content{
  font-size: 17px;
  text-align: justify;
}

.pcr{
  padding-bottom: 20px;
  display: block;
  margin: auto;
  text-align: center;
}
