<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">REGISTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item></ion-item>
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" ngModel name="namee" namee required #namee="ngModel"></ion-input>
          </ion-item>
          <ion-item *ngIf="namee.invalid && namee.touched" lines="none">
            <ion-label color="danger">
              This field is required!
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" ngModel name="surname" surname required #surname="ngModel"></ion-input>
          </ion-item>
          <ion-item *ngIf="surname.invalid && surname.touched" lines="none">
            <ion-label color="danger">
              This field is required!
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" ngModel name="email" email required #email="ngModel"></ion-input>
          </ion-item>

          <ion-item *ngIf="email.invalid && email.touched" lines="none">
            <ion-label color="danger">
              Enter a valid email address!
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-list>
              <ion-radio-group value="male">
                <ion-list-header>
                  <ion-label>Gender:</ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label>Male</ion-label>
                  <ion-radio slot="start" value="male"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Female</ion-label>
                  <ion-radio slot="start" value="female"></ion-radio>
                </ion-item>

              </ion-radio-group>
            </ion-list>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contact</ion-label>
            <ion-input type="number" ngModel name="contact" minlength="8" required #contact="ngModel"></ion-input>
          </ion-item>

          <ion-item *ngIf="contact.invalid && contact.touched" lines="none">
            <ion-label color="danger">
              Contact must have minimum 8 digits!
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" ngModel name="password" minlength="7" required #password="ngModel"></ion-input>
          </ion-item>

          <ion-item *ngIf="password.invalid && password.touched" lines="none">
            <ion-label color="danger">
              Password must have minimum 7 characters!
            </ion-label>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="6">
          <ion-button type="submit" strong="true" color="primary" expand="block" shape="round"
            [disabled]='registerForm.invalid'>Register
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
