<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;">Vaccines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid>
    <ion-row>
      <ion-col expand="true" style=" background-color: #fcd1d1; margin-top: 30px;">
        <ion-card-header color="primary" style=" color: black; ">Signed for vaccine</ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row class="first">
      <ion-col>
        <p>User</p>
      </ion-col>
      <ion-col>
        <p>Contact</p>
      </ion-col>
      <ion-col>
        <p>Vaccine</p>
      </ion-col>
      <ion-col>
        <p>Taken doses</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Tijana Tasić</p>
      </ion-col>
      <ion-col>
        <p>0601234567</p>
      </ion-col>
      <ion-col>
        <p>Pfizer</p>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-select placeholder="Select One">
            <ion-select-option value="first">First</ion-select-option>
            <ion-select-option value="both">Both</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Tamara Matović</p>
      </ion-col>
      <ion-col>
        <p>0601234567</p>
      </ion-col>
      <ion-col>
        <p>AstraZeneca</p>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-select placeholder="Select One">
            <ion-select-option value="first">First</ion-select-option>
            <ion-select-option value="both">Both</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Marija Todović</p>
      </ion-col>
      <ion-col>
        <p>0601234567</p>
      </ion-col>
      <ion-col>
        <p>Sinopharm</p>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-select placeholder="Select One">
            <ion-select-option value="first">First</ion-select-option>
            <ion-select-option value="both">Both</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Nikolina Papić</p>
      </ion-col>
      <ion-col>
        <p>0601234567</p>
      </ion-col>
      <ion-col>
        <p>Sputnik V</p>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-select placeholder="Select One">
            <ion-select-option value="first">First</ion-select-option>
            <ion-select-option value="both">Both</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="border: none; margin-top: 15px;">
        <ion-button color="tertiary" strong="true" shape="round" (click)="presentAlert()">
          Update
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
