ion-card-header{
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 0;
}


.first{
  background-color: #d3e0dc;
  font-weight: bold;
}

ion-col{
  border: 1px solid black;
  text-align: center;
  width: 50px;
}

p{
  text-align: center;
}

