ion-content.background{
    --background: url(../../assets/icon/virus2222.png) cover fixed  ;

    background: url(../../assets/icon/virus2222.png) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

app-explore-container {
    color: white;
  }
 