.stat{
  background-color: rgba(235, 54, 54, 0.87);
}

.data{
  color: white;
  text-align: center;
  font-weight: bold;
}

ion-card-content{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding:0;
}

.second-row{
  background-color: rgb(14, 14, 86);
  color: white;
  font-size: 17px;
}

.first-row{
  padding-top: 20px;
  padding-bottom: 20px;
}

ion-grid{
  padding:0;
}

