<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;">An overview in Serbia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 50px;">
    <ion-card-header class="stat">
      <ion-card-title class="data">Statistical data in Serbia</ion-card-title>
      <ion-card-subtitle style="color: white; text-align: center;">
        Last time updated: 07.05.2021.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="first-row">
          <ion-col>
            <div>698,518</div>
          </ion-col>
          <ion-col>
            <div>6,519</div>
          </ion-col>
          <ion-col>
            <div>0.93%</div>
          </ion-col>
        </ion-row>
        <ion-row class="second-row">
          <ion-col>
            <div>Total cases</div>
          </ion-col>
          <ion-col>
            <div>Total deaths</div>
          </ion-col>
          <ion-col>
            <div>Mortality</div>
          </ion-col>
        </ion-row>
        <ion-row class="first-row">
          <ion-col>
            <div>3,907,936</div>
          </ion-col>
          <ion-col>
            <div>13,206</div>
          </ion-col>
          <ion-col>
            <div>1,277</div>
          </ion-col>
        </ion-row>
        <ion-row class="second-row">
          <ion-col>
            <div>Total tested people</div>
          </ion-col>
          <ion-col>
            <div>Tested in last 24h</div>
          </ion-col>
          <ion-col>
            <div>Confirmed cases last 24h</div>
          </ion-col>
        </ion-row>
        <ion-row class="first-row">
          <ion-col>
            <div>20</div>
          </ion-col>
          <ion-col>
            <div>3,901</div>
          </ion-col>
          <ion-col>
            <div>131</div>
          </ion-col>
        </ion-row>
        <ion-row class="second-row">
          <ion-col>
            <div>No. of deaths in last 24h</div>
          </ion-col>
          <ion-col>
            <div>No. of hospitalized</div>
          </ion-col>
          <ion-col>
            <div>No. of people on a vent</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
