<ion-app>

  <ion-menu side="start" menuId="firstMenu" contentId="main">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/overview">
            <ion-icon name="analytics-outline" slot="start"></ion-icon>
            <ion-label>An overview in Serbia</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/vaccine">
            <ion-icon name="medkit-outline" slot="start"></ion-icon>
            <ion-label>Sign up for vaccine</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/pcr">
            <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
            <ion-label>Sign up for PCR test</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="logout()" routerLink="/">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Log out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>


  <!-- <ion-menu side="start" menuId="secondMenu" contentId="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/update-vaccine">
            <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
            <ion-label>Update the number of vaccines</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/vaccines-list">
            <ion-icon name="medkit-outline" slot="start"></ion-icon>
            <ion-label>Vaccines</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/pcr-list">
            <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
            <ion-label>PCR tests</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="logout()" routerLink="/">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Log out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu> -->

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
