<form #update="ngForm" (ngSubmit)="onUpdate(update)">
  <ion-card>
    <ion-card-header color="success">
      Change the number of available vaccines bellow
    </ion-card-header>
    <ion-card-content color="light">
      <ion-grid>
        <ion-row class="first-row">
          <ion-col>
            <div>Pfizer</div>
          </ion-col>
          <ion-col>
            <div>Sputnik V</div>
          </ion-col>
          <ion-col>
            <div>Sinopharm</div>
          </ion-col>
        </ion-row>
        <ion-row class="second-row">
          <ion-col>
            <div>
              <ion-input type="number" ngModel name="pfizer" placeholder={{vaccineNum.pfizer}} required></ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input ngModel type="number" name="sputnik" placeholder={{vaccineNum.sputnik}} required></ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-input ngModel type="number" name="sinopharm" placeholder={{vaccineNum.sinopharm}} required></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="first-row">
          <ion-col>
            <div>AstraZeneca</div>
          </ion-col>
          <ion-col>
            <div>Moderna</div>
          </ion-col>
        </ion-row>
        <ion-row class="second-row">
        <ion-col>
          <div>
            <ion-input ngModel type="number" name="astra" placeholder={{vaccineNum.astra}} required></ion-input>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-input ngModel type="number" name="moderna" placeholder={{vaccineNum.moderna}} required></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" strong="true" shape="round" (click)="presentAlert()">
          Save changes
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" strong="true" shape="round" (click)="discardAlert()">
          Discard changes
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
