<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button menu="secondMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card style="border-radius: 10%; margin-top: 30px;">
    <ion-card-header>
      <ion-card-title class="welcome">Welcome to an admin page</ion-card-title>
    </ion-card-header>
    <img src="assets/icon/admin.jpg">
    <ion-card-content>
      You will be able to see all the people who signed up for a vaccine or PCR test. Also, we would appreciate
      if you update the numbers of available vaccines daily. One of your tasks will be to update the results of the PCR
      test so the users of our applications can see their results. We hope you are doing well and this situation with
      the virus will come to an end soon.
    </ion-card-content>
  </ion-card>
</ion-content>
