<ion-header >
  <ion-toolbar color="medium">
    <ion-buttons slot="start" >
      <ion-menu-button menuId="firstMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

  <ion-card style="border-radius: 10%; margin-top: 30px;">
    <ion-card-header>
      <ion-card-title class="welcome">Welcome to our Cov-App</ion-card-title>
    </ion-card-header>
    <img src="assets/icon/corona.png">
    <ion-card-content>
      This is an application that shows an overview about this virus in Serbia. As an regular user, you will
      be able to read news about Coronavirus, sign up for vaccine or PCR test. Here we well tell you all the
      necessary things about the current situation in Serbia. We hope this will be usefull and you will enjoy our app!
    </ion-card-content>
  </ion-card>
</ion-content>
